body {
        color: white;
}
html, body {
    height: 100%;
    margin: 0;
}
h1 {
    color: (255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2 {
    color: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2:hover {
    color: rgb(153, 238, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link, a:visited,a:hover,a:active{
    color: rgba(0,0,0,0);
}
.topline {
    display: flex;
    align-items: center;
    background-color: rgb(36, 40, 113);
    min-height: 50px;
}
.toptopline {
    display: flex;
    align-items: center;
    min-height: 20px;
}
.main {
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
}
.leftline {
background-image: linear-gradient(to bottom, rgba(36,40,113),rgb(27, 117, 201));
box-sizing: border-box;
align-self: stretch;
}
.rightmain {
background-image: linear-gradient(to bottom, rgb(129, 137, 255),rgb(231, 244, 255));
box-sizing: border-box;
}
.center {
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(36,40,113), rgb(136, 144, 255));
    border: 1px;
    box-sizing: border-box;
}
.overcenter {
    display: flex;
    height: 1px;
    background-color: black;
    box-sizing: border-box;
}
.storegrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 19px;
    grid-row-gap: 19px;
    margin: 19px;


}
.grid {
    display: flex;
    background-color: rgb(0, 4, 67);
    border-radius: 10px;
    justify-content: center;
}
@media only screen and (min-width: 799px) {
    .leftline {
        min-width: 15vw;
        max-width: 200px;
        min-height: 95vh;
    }
    .rightmain {
        min-width: 84vw;
        min-height: 95vh;
    }
    .logo {
        width: 15%;
    }
    h2 {
        font-size: 1.8vw;
    }
    .web {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100vh;
    transition: height 0.4s ease;
    overflow: hidden;
    }
    .close {
        margin-left:10% ;
        height: 50px;
        width: 50px;
    }
}
@media only screen and (max-width: 799px) {
    .main {
        flex-direction: column;
    }
    .logo {
        width: 50%;
    }
    h2 {
        font-size: 4vw;
    }
    .web {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 100vh;
    transition: height 0.4s ease;
    overflow: hidden;
    }
    .close {
        margin-left: 2%;
        height: 80px;
        width: 80px;
    }
}