body {
    margin: auto;
    color: white;
}
h1 {
    color: rgb(0,0,0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2:hover {
    color: rgb(153, 238, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link, a:visited,a:hover,a:active{
    color: rgba(0,0,0,0);
}
.topline {
    display: flex;
    align-items: center;
    background-color: rgb(36, 40, 113);
    min-height: 50px;
}
.toptopline {
    display: flex;
    align-items: center;
    min-height: 20px;
}
.main {
    display: flex;
    box-sizing: border-box;
    min-height: 90vh;
}
.leftline {
background-image: linear-gradient(to bottom, rgba(36,40,113),rgb(27, 117, 201));
box-sizing: border-box;
}
.rightmain {
background-image: linear-gradient(to bottom, rgb(212, 212, 212),rgba(255,255,255));
box-sizing: border-box;
}
@media only screen and (min-width: 799px) {
    .leftline {
        min-width: 15vw;
        max-width: 200px;
        min-height: 95vh;
    }
    .rightmain {
        min-width: 85vw;
        min-height: 95vh;
    }
    .logo {
        width: 15%;
    }
    h2 {
        font-size: 1.8vW;
    }
}
@media only screen and (max-width: 799px) {
    .main {
        flex-direction: column;
    }
    .logo {
        width: 50%;
    }
    h2 {
        font-size: 4vw;
    }
}